.row {
    flex-direction: row;
}

.electrode {
    flex-direction: column;
    -unity-text-align: upper-center;
    max-width: 100px;
    min-width: 90px;
    /*white-space: no-wrap;*/
}

VisualElement#grid EnumField Label {
    max-width: 100px;
    min-width: 90px;
    -unity-text-align: upper-center;
    /*white-space: no-wrap;*/
}

